#header{
	background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS5mXGPPCPzvQfE0yh1Pqg4KySz6vDhSLYNq7XbzYj7rcpStLZD");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px;
}